---
import GoogleIcon from "./google-domains-icon.astro";
import AstroIcon from "./astro-icon.astro";
import GithubIcon from "./github-icon.astro";
import PorkbunIcon from "./porkbun-icon.astro";
---

<section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-white md:text-5xl lg:text-6xl">Bienvenido!</h1>
        <p class="mb-8 text-lg font-normal text-[#b1bac4] lg:text-xl sm:px-16 lg:px-48">website powered by</p>

        <div class="flex pb-10 space-x-1 justify-center text-[#b1bac4]">
<!--         	<PorkbunIcon pathfill="#b1bac4"></PorkbunIcon>
        	<p class="text-sm pr-4">Porkbun</p> -->
        	<AstroIcon pathfill="#b1bac4"></AstroIcon>
        	<p class="text-sm pr-4">Astro</p>
        	<GithubIcon pathfill="#b1bac4"></GithubIcon>
        	<p class="text-sm">GitHub</p>
        </div>

        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            <a href="/about" class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center rounded-lg border text-[#c9d1d9] border-[#b1bac4] bg-[#161b22] hover:bg-[#0d1117]">
                learn more about me
            </a>  
        </div>
    </div>
</section>